.card {
  position: relative;
  border: 1px solid #F3F3F3;
  padding: calc(30 / 1250 * 100vw);
  width: calc(150 / 1250 * 100vw);
  border-radius: calc(40 / 1250 * 100vw);
  margin-right: calc(17 / 1250 * 100vw);
  margin-left: calc(18 / 1250 * 100vw);
  margin-bottom: calc(30 / 1250 * 100vw);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }
  .favorite {
    position: absolute;
    cursor: pointer;
    img {
      width: calc(32 / 1250 * 100vw);
      height: calc(32 / 1250 * 100vw);
    }
  }
  > img {
    width: calc(133 / 1250 * 100vw);
    height: calc(112 / 1250 * 100vw);
    cursor: pointer;
  }
  span {
    font-size: calc(13 / 1250 * 100vw);
    opacity: 0.5;
    text-transform: uppercase;
  }
  b {
    font-size: calc(13 / 1250 * 100vw);
  }
  h5 {
    position: relative;
    top: calc(-10 / 1250 * 100vw);
    font-weight: 400;
    font-size: calc(14 / 1250 * 100vw);
  }
  .cardBottom {
    position: absolute;
    bottom: calc(30 / 1250 * 100vw);
    width: calc(153 / 1250 * 100vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
    }
  }
}
.plus {
  position: absolute;
  right: 0;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: calc(8 / 1250 * 100vw);
  width: calc(32 / 1250 * 100vw);
  height: calc(32 / 1250 * 100vw);
  cursor: pointer;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .card {
    width: calc(240 / 768 * 100vw);
    padding: calc(20 / 768 * 100vw);
    border-radius: calc(40 / 1250 * 100vw);
    .favorite {
      img {
        width: calc(42 / 768 * 100vw);
        height: calc(42 / 768 * 100vw);
      }
    }
    > img {
      width: calc(220 / 768 * 100vw);
      height: calc(170 / 768 * 100vw);
    }
    span {
      font-size: calc(16 / 768 * 100vw);
    }
    b {
      font-size: calc(16 / 768 * 100vw);
    }
    h5 {
      top: calc(-20 / 768 * 100vw);
      font-size: calc(18 / 768 * 100vw);
    }
    .cardBottom {
      bottom: calc(30 / 768 * 100vw);
      width: calc(230 / 768 * 100vw);
    }
  }
  .plus {
    border-radius: calc(8 / 768 * 100vw);
    width: calc(42 / 768 * 100vw);
    height: calc(42 / 768 * 100vw);
  }
}
