.drawer {
    position: fixed;
    width: calc(420 / 1250 * 100vw);
    height: 100%;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: calc(30 / 1250 * 100vw);
    display: flex;
    flex-direction: column;
    .drawerHeading {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: calc(50 / 1250 * 100vw);
        margin: 0 0 calc(30 / 1250 * 100vw);
        font-size: calc(24 / 1250 * 100vw);
        .removeButton {
            cursor: pointer;
            width: calc(50 / 1250 * 100vw);
        }
    }
    .cartFull {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: calc(50 / 1250 * 100vw);;
    }
    .items {
        overflow-y: auto;
        margin-bottom: calc(240 / 1250 * 100vw);
        max-height: 60vh;
        .cartItem {
            position: relative;
            display: flex;
            align-items: center;
            border: 1px solid #F3F3F3;
            border-radius: calc(20 / 1250 * 100vw);
            overflow: hidden;
            padding: calc(20 / 1250 * 100vw);
            margin-bottom: calc(20 / 1250 * 100vw);
            img {
                height: calc(70 / 1250 * 100vw);
                width: calc(70 / 1250 * 100vw);
                background-size: contain;
                background-position: 0 calc(-3 / 1250 * 100vw);
                background-repeat: no-repeat;
                margin-right: calc(20 / 1250 * 100vw);
            }
            p {
                font-size: calc(16 / 1250 * 100vw);
                margin: 0;
                width: calc(200 / 1250 * 100vw);
            }
            b {
                font-size: calc(18 / 1250 * 100vw);
            }
            .removeButton {
                position: absolute;
                right: 0;
                height: calc(50 / 1250 * 100vw);
                width: calc(50 / 1250 *100vw);
                opacity: 0.5;
                cursor: pointer;
                transition: opacity 0.15s ease-in-out;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .cartTotalBlock {
        position: fixed;
        width: calc(420 / 1250 * 100vw);
        font-size: calc(20 / 1250 * 100vw);
        bottom: calc(20 / 1250 * 100vw);
        ul {
            margin-bottom: calc(40 / 1250 * 100vw) !important;
            padding-inline-start: 0;
        }
        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: calc(20 / 1250 * 100vw);
            div {
                flex: 1;
                height: 1px;
                border-bottom: 1px dashed #DFDFDF;
                position: relative;
                top: -4px;
                margin-left: calc(7 / 1250 * 100vw);
                margin-right: calc(7 / 1250 * 100vw);
            }
        }
        .greenButton {
            width: 100%;
            height: calc(55 / 1250 * 100vw);
            background: #9DD558;
            border-radius: calc(18 / 1250 * 100vw);
            border: 0;
            color: #FFFFFF;
            font-size: calc(16 / 1250 * 100vw);
            font-weight: 500;
            cursor: pointer;
            transition: background 0.2s ease-in-out;
            &:hover {
                background: lighten(#9DD558, 5%);
            }
            &:active {
                background: darken(#9DD558, 5%);
            }
        }
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
    .drawer {
        width: calc(420 / 768 * 100vw);
        padding: calc(30 / 768 * 100vw);
        .drawerHeading {
            top: calc(50 / 768 * 100vw);
            margin: 0 0 calc(30 / 768 * 100vw);
            font-size: calc(24 / 768 * 100vw);
            .removeButton {
                cursor: pointer;
                width: calc(50 / 768 * 100vw);
            }
        }
        .cartFull {
            margin-top: calc(50 / 768 * 100vw);;
        }
        .items {
            margin-bottom: calc(40 / 768 * 100vw);
            .cartItem {
                border-radius: calc(20 / 768 * 100vw);
                padding: calc(20 / 768 * 100vw);
                margin-bottom: calc(20 / 768 * 100vw);
                img {
                    height: calc(70 / 768 * 100vw);
                    width: calc(70 / 768 * 100vw);
                    background-position: 0 calc(-3 / 768 * 100vw);
                    margin-right: calc(20 / 768 * 100vw);
                }
                p {
                    font-size: calc(18 / 768 * 100vw);
                    margin: 0;
                    width: calc(225 / 768 * 100vw);
                }
                b {
                    font-size: calc(20 / 768 * 100vw);
                }
                .removeButton {
                    height: calc(50 / 768 * 100vw);
                    width: calc(50 / 768 *100vw);
                }
            }
        }
        .cartTotalBlock {
            width: calc(420 / 768 * 100vw);
            font-size: calc(20 / 768 * 100vw);
            ul {
                margin-bottom: calc(40 / 768 * 100vw) !important;
            }
            li {
                margin-bottom: calc(20 / 768 * 100vw);
                div {
                    top: -4px;
                    margin-left: calc(7 / 768 * 100vw);
                    margin-right: calc(7 / 768 * 100vw);
                }
            }
            .greenButton {
                height: calc(55 / 768 * 100vw);
                border-radius: calc(18 / 768 * 100vw);
                font-size: calc(16 / 768 * 100vw);
                font-weight: 500;
            }
        }
    }
}