.feedback {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    width: calc(750/1250*100vw);
    margin: 0 auto;
    margin-top: calc(80/1250*100vw);
    padding-top: calc(40/1250*100vw);
    h2 {
        text-align: center;
        margin-top: calc(80/1250*100vw);
        font-size: calc(36/1250*100vw);
        img {
            position: relative;
            top: calc(-55/1250*100vw);
            left: calc(160/1250*100vw);
            cursor: pointer;
        }
    }
}