body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

* {
  font-family: 'Inter', system-ui;
  text-decoration: none;
  color: inherit;
  outline:none;
}

.wrapper {
  box-sizing: border-box;
  outline: none;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: calc(1080 / 1250 * 100vw);
  margin: calc(80 / 1250 * 100vw) auto 0;
}

